<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=5, user-scalable=1"
        name="viewport">
    <meta name="csrf-token" content="hvSUlCvs7VCTJ2E7SdeQhl0r7DjAx0lJBEHgEIBn">
    <meta name="format-detection" content="telephone=no">
    <meta name="robots" content="index,follow"> <!-- Google Tag Manager -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Fredoka:wght@400;700&display=swap">
    <script async="true" type="text/javascript"
        src="//static.contineljs.com/cpa/core/tp2_core.min.js?t=1746592776473"></script>
    <script async="true" type="text/javascript" src="//static.contineljs.com/cpa/tp2.js?t=1746592754275"
        data-owner="admicro-tag"></script>
    <script type="text/javascript" async="" src="//static.amcdn.vn/cpa/amc-core.min.js"></script>
    <script type="text/javascript" async="" src="//static.amcdn.vn/core/analytics.js"></script>
    <script async="" src="//deqik.com/tag/corejs/ATME0ZJ0NJ1PJ.js"></script>
    <script
        src="https://connect.facebook.net/signals/config/1294944804034493?v=2.9.200&amp;r=stable&amp;domain=everon.com&amp;hme=9ebdfdd473ffce6bfe2267012c83f73483198ffe20d84139a2066b7682f827c0&amp;ex_m=73%2C128%2C113%2C117%2C64%2C6%2C106%2C72%2C19%2C100%2C92%2C54%2C57%2C181%2C202%2C209%2C205%2C206%2C208%2C32%2C107%2C56%2C80%2C207%2C176%2C179%2C203%2C204%2C189%2C139%2C44%2C194%2C191%2C192%2C37%2C151%2C18%2C53%2C198%2C197%2C141%2C21%2C43%2C2%2C46%2C68%2C69%2C70%2C74%2C96%2C20%2C17%2C99%2C95%2C94%2C114%2C55%2C116%2C42%2C115%2C33%2C97%2C29%2C177%2C180%2C148%2C14%2C15%2C16%2C8%2C9%2C28%2C25%2C26%2C60%2C65%2C67%2C78%2C105%2C108%2C30%2C79%2C12%2C10%2C83%2C51%2C24%2C110%2C109%2C111%2C102%2C13%2C23%2C4%2C41%2C77%2C22%2C160%2C89%2C135%2C76%2C1%2C98%2C59%2C87%2C36%2C31%2C85%2C86%2C91%2C40%2C7%2C93%2C84%2C47%2C35%2C38%2C90%2C5%2C50%2C49%2C101%2C88%2C246%2C174%2C126%2C163%2C156%2C3%2C39%2C66%2C45%2C112%2C48%2C82%2C71%2C118%2C63%2C62%2C34%2C103%2C61%2C58%2C52%2C81%2C75%2C27%2C104%2C11%2C0%2C119"
        async=""></script>
    <script async="" src="https://connect.facebook.net/en_US/fbevents.js"></script>
    <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
    <script type="text/javascript" async=""
        src="https://www.googletagmanager.com/gtag/js?id=AW-1014191619&amp;l=dataLayer&amp;cx=c&amp;gtm=45He5551v830298824za200&amp;tag_exp=101509157~103101750~103101752~103116026~103200004~103231718~103231720~103233427~103251618~103251620~103252644~103252646~103284320~103284322"></script>
    <script type="text/javascript" async=""
        src="https://www.googletagmanager.com/gtag/js?id=G-NP0DHM9HG0&amp;l=dataLayer&amp;cx=c&amp;gtm=45He5551v830298824za200&amp;tag_exp=101509157~103101750~103101752~103116026~103200004~103231718~103231720~103233427~103251618~103251620~103252644~103252646~103284320~103284322"></script>
    <script type="text/javascript" async=""
        src="https://www.googletagmanager.com/gtag/js?id=G-VJNYNP0SMY&amp;l=dataLayer&amp;cx=c&amp;gtm=45He5551v830298824za200&amp;tag_exp=101509157~103101750~103101752~103116026~103200004~103231718~103231720~103233427~103251618~103251620~103252644~103252646~103284320~103284322"></script>
    <script async="" defer=""
        src="https://cdn.jsdelivr.net/gh/USPA-Technology/leo-cdp-static-files@v0.8.9.27//js/leo-observer/leo.proxy.min.js"></script>
    <script async="" src="https://www.googletagmanager.com/gtm.js?id=GTM-TBMXMJN"></script>
    <link rel="stylesheet" href="/css/styles.css"/>
    <style type="text/css">
      :root,
      :host {
          --fa-font-solid: normal 900 1em/1 "Font Awesome 6 Free";
          --fa-font-regular: normal 400 1em/1 "Font Awesome 6 Free";
          --fa-font-light: normal 300 1em/1 "Font Awesome 6 Pro";
          --fa-font-thin: normal 100 1em/1 "Font Awesome 6 Pro";
          --fa-font-duotone: normal 900 1em/1 "Font Awesome 6 Duotone";
          --fa-font-brands: normal 400 1em/1 "Font Awesome 6 Brands";
          --fa-font-sharp-solid: normal 900 1em/1 "Font Awesome 6 Sharp";
          --fa-font-sharp-regular: normal 400 1em/1 "Font Awesome 6 Sharp";
          --fa-font-sharp-light: normal 300 1em/1 "Font Awesome 6 Sharp";
          --fa-font-sharp-thin: normal 100 1em/1 "Font Awesome 6 Sharp";
          --fa-font-sharp-duotone-solid: normal 900 1em/1 "Font Awesome 6 Sharp Duotone";
      }

      svg:not(:root).svg-inline--fa,
      svg:not(:host).svg-inline--fa {
          overflow: visible;
          box-sizing: content-box;
      }

      .svg-inline--fa {
          display: var(--fa-display, inline-block);
          height: 1em;
          overflow: visible;
          vertical-align: -0.125em;
      }

      .svg-inline--fa.fa-2xs {
          vertical-align: 0.1em;
      }

      .svg-inline--fa.fa-xs {
          vertical-align: 0em;
      }

      .svg-inline--fa.fa-sm {
          vertical-align: -0.0714285705em;
      }

      .svg-inline--fa.fa-lg {
          vertical-align: -0.2em;
      }

      .svg-inline--fa.fa-xl {
          vertical-align: -0.25em;
      }

      .svg-inline--fa.fa-2xl {
          vertical-align: -0.3125em;
      }

      .svg-inline--fa.fa-pull-left {
          margin-right: var(--fa-pull-margin, 0.3em);
          width: auto;
      }

      .svg-inline--fa.fa-pull-right {
          margin-left: var(--fa-pull-margin, 0.3em);
          width: auto;
      }

      .svg-inline--fa.fa-li {
          width: var(--fa-li-width, 2em);
          top: 0.25em;
      }

      .svg-inline--fa.fa-fw {
          width: var(--fa-fw-width, 1.25em);
      }

      .fa-layers svg.svg-inline--fa {
          bottom: 0;
          left: 0;
          margin: auto;
          position: absolute;
          right: 0;
          top: 0;
      }

      .fa-layers-counter,
      .fa-layers-text {
          display: inline-block;
          position: absolute;
          text-align: center;
      }

      .fa-layers {
          display: inline-block;
          height: 1em;
          position: relative;
          text-align: center;
          vertical-align: -0.125em;
          width: 1em;
      }

      .fa-layers svg.svg-inline--fa {
          transform-origin: center center;
      }

      .fa-layers-text {
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          transform-origin: center center;
      }

      .fa-layers-counter {
          background-color: var(--fa-counter-background-color, #ff253a);
          border-radius: var(--fa-counter-border-radius, 1em);
          box-sizing: border-box;
          color: var(--fa-inverse, #fff);
          line-height: var(--fa-counter-line-height, 1);
          max-width: var(--fa-counter-max-width, 5em);
          min-width: var(--fa-counter-min-width, 1.5em);
          overflow: hidden;
          padding: var(--fa-counter-padding, 0.25em 0.5em);
          right: var(--fa-right, 0);
          text-overflow: ellipsis;
          top: var(--fa-top, 0);
          transform: scale(var(--fa-counter-scale, 0.25));
          transform-origin: top right;
      }

      .fa-layers-bottom-right {
          bottom: var(--fa-bottom, 0);
          right: var(--fa-right, 0);
          top: auto;
          transform: scale(var(--fa-layers-scale, 0.25));
          transform-origin: bottom right;
      }

      .fa-layers-bottom-left {
          bottom: var(--fa-bottom, 0);
          left: var(--fa-left, 0);
          right: auto;
          top: auto;
          transform: scale(var(--fa-layers-scale, 0.25));
          transform-origin: bottom left;
      }

      .fa-layers-top-right {
          top: var(--fa-top, 0);
          right: var(--fa-right, 0);
          transform: scale(var(--fa-layers-scale, 0.25));
          transform-origin: top right;
      }

      .fa-layers-top-left {
          left: var(--fa-left, 0);
          right: auto;
          top: var(--fa-top, 0);
          transform: scale(var(--fa-layers-scale, 0.25));
          transform-origin: top left;
      }

      .fa-1x {
          font-size: 1em;
      }

      .fa-2x {
          font-size: 2em;
      }

      .fa-3x {
          font-size: 3em;
      }

      .fa-4x {
          font-size: 4em;
      }

      .fa-5x {
          font-size: 5em;
      }

      .fa-6x {
          font-size: 6em;
      }

      .fa-7x {
          font-size: 7em;
      }

      .fa-8x {
          font-size: 8em;
      }

      .fa-9x {
          font-size: 9em;
      }

      .fa-10x {
          font-size: 10em;
      }

      .fa-2xs {
          font-size: 0.625em;
          line-height: 0.1em;
          vertical-align: 0.225em;
      }

      .fa-xs {
          font-size: 0.75em;
          line-height: 0.0833333337em;
          vertical-align: 0.125em;
      }

      .fa-sm {
          font-size: 0.875em;
          line-height: 0.0714285718em;
          vertical-align: 0.0535714295em;
      }

      .fa-lg {
          font-size: 1.25em;
          line-height: 0.05em;
          vertical-align: -0.075em;
      }

      .fa-xl {
          font-size: 1.5em;
          line-height: 0.0416666682em;
          vertical-align: -0.125em;
      }

      .fa-2xl {
          font-size: 2em;
          line-height: 0.03125em;
          vertical-align: -0.1875em;
      }

      .fa-fw {
          text-align: center;
          width: 1.25em;
      }

      .fa-ul {
          list-style-type: none;
          margin-left: var(--fa-li-margin, 2.5em);
          padding-left: 0;
      }

      .fa-ul>li {
          position: relative;
      }

      .fa-li {
          left: calc(-1 * var(--fa-li-width, 2em));
          position: absolute;
          text-align: center;
          width: var(--fa-li-width, 2em);
          line-height: inherit;
      }

      .fa-border {
          border-color: var(--fa-border-color, #eee);
          border-radius: var(--fa-border-radius, 0.1em);
          border-style: var(--fa-border-style, solid);
          border-width: var(--fa-border-width, 0.08em);
          padding: var(--fa-border-padding, 0.2em 0.25em 0.15em);
      }

      .fa-pull-left {
          float: left;
          margin-right: var(--fa-pull-margin, 0.3em);
      }

      .fa-pull-right {
          float: right;
          margin-left: var(--fa-pull-margin, 0.3em);
      }

      .fa-beat {
          animation-name: fa-beat;
          animation-delay: var(--fa-animation-delay, 0s);
          animation-direction: var(--fa-animation-direction, normal);
          animation-duration: var(--fa-animation-duration, 1s);
          animation-iteration-count: var(--fa-animation-iteration-count, infinite);
          animation-timing-function: var(--fa-animation-timing, ease-in-out);
      }

      .fa-bounce {
          animation-name: fa-bounce;
          animation-delay: var(--fa-animation-delay, 0s);
          animation-direction: var(--fa-animation-direction, normal);
          animation-duration: var(--fa-animation-duration, 1s);
          animation-iteration-count: var(--fa-animation-iteration-count, infinite);
          animation-timing-function: var(--fa-animation-timing, cubic-bezier(0.28, 0.84, 0.42, 1));
      }

      .fa-fade {
          animation-name: fa-fade;
          animation-delay: var(--fa-animation-delay, 0s);
          animation-direction: var(--fa-animation-direction, normal);
          animation-duration: var(--fa-animation-duration, 1s);
          animation-iteration-count: var(--fa-animation-iteration-count, infinite);
          animation-timing-function: var(--fa-animation-timing, cubic-bezier(0.4, 0, 0.6, 1));
      }

      .fa-beat-fade {
          animation-name: fa-beat-fade;
          animation-delay: var(--fa-animation-delay, 0s);
          animation-direction: var(--fa-animation-direction, normal);
          animation-duration: var(--fa-animation-duration, 1s);
          animation-iteration-count: var(--fa-animation-iteration-count, infinite);
          animation-timing-function: var(--fa-animation-timing, cubic-bezier(0.4, 0, 0.6, 1));
      }

      .fa-flip {
          animation-name: fa-flip;
          animation-delay: var(--fa-animation-delay, 0s);
          animation-direction: var(--fa-animation-direction, normal);
          animation-duration: var(--fa-animation-duration, 1s);
          animation-iteration-count: var(--fa-animation-iteration-count, infinite);
          animation-timing-function: var(--fa-animation-timing, ease-in-out);
      }

      .fa-shake {
          animation-name: fa-shake;
          animation-delay: var(--fa-animation-delay, 0s);
          animation-direction: var(--fa-animation-direction, normal);
          animation-duration: var(--fa-animation-duration, 1s);
          animation-iteration-count: var(--fa-animation-iteration-count, infinite);
          animation-timing-function: var(--fa-animation-timing, linear);
      }

      .fa-spin {
          animation-name: fa-spin;
          animation-delay: var(--fa-animation-delay, 0s);
          animation-direction: var(--fa-animation-direction, normal);
          animation-duration: var(--fa-animation-duration, 2s);
          animation-iteration-count: var(--fa-animation-iteration-count, infinite);
          animation-timing-function: var(--fa-animation-timing, linear);
      }

      .fa-spin-reverse {
          --fa-animation-direction: reverse;
      }

      .fa-pulse,
      .fa-spin-pulse {
          animation-name: fa-spin;
          animation-direction: var(--fa-animation-direction, normal);
          animation-duration: var(--fa-animation-duration, 1s);
          animation-iteration-count: var(--fa-animation-iteration-count, infinite);
          animation-timing-function: var(--fa-animation-timing, steps(8));
      }

      @media (prefers-reduced-motion: reduce) {

          .fa-beat,
          .fa-bounce,
          .fa-fade,
          .fa-beat-fade,
          .fa-flip,
          .fa-pulse,
          .fa-shake,
          .fa-spin,
          .fa-spin-pulse {
              animation-delay: -1ms;
              animation-duration: 1ms;
              animation-iteration-count: 1;
              transition-delay: 0s;
              transition-duration: 0s;
          }
      }

      @keyframes fa-beat {

          0%,
          90% {
              transform: scale(1);
          }

          45% {
              transform: scale(var(--fa-beat-scale, 1.25));
          }
      }

      @keyframes fa-bounce {
          0% {
              transform: scale(1, 1) translateY(0);
          }

          10% {
              transform: scale(var(--fa-bounce-start-scale-x, 1.1), var(--fa-bounce-start-scale-y, 0.9)) translateY(0);
          }

          30% {
              transform: scale(var(--fa-bounce-jump-scale-x, 0.9), var(--fa-bounce-jump-scale-y, 1.1)) translateY(var(--fa-bounce-height, -0.5em));
          }

          50% {
              transform: scale(var(--fa-bounce-land-scale-x, 1.05), var(--fa-bounce-land-scale-y, 0.95)) translateY(0);
          }

          57% {
              transform: scale(1, 1) translateY(var(--fa-bounce-rebound, -0.125em));
          }

          64% {
              transform: scale(1, 1) translateY(0);
          }

          100% {
              transform: scale(1, 1) translateY(0);
          }
      }

      @keyframes fa-fade {
          50% {
              opacity: var(--fa-fade-opacity, 0.4);
          }
      }

      @keyframes fa-beat-fade {

          0%,
          100% {
              opacity: var(--fa-beat-fade-opacity, 0.4);
              transform: scale(1);
          }

          50% {
              opacity: 1;
              transform: scale(var(--fa-beat-fade-scale, 1.125));
          }
      }

      @keyframes fa-flip {
          50% {
              transform: rotate3d(var(--fa-flip-x, 0), var(--fa-flip-y, 1), var(--fa-flip-z, 0), var(--fa-flip-angle, -180deg));
          }
      }

      @keyframes fa-shake {
          0% {
              transform: rotate(-15deg);
          }

          4% {
              transform: rotate(15deg);
          }

          8%,
          24% {
              transform: rotate(-18deg);
          }

          12%,
          28% {
              transform: rotate(18deg);
          }

          16% {
              transform: rotate(-22deg);
          }

          20% {
              transform: rotate(22deg);
          }

          32% {
              transform: rotate(-12deg);
          }

          36% {
              transform: rotate(12deg);
          }

          40%,
          100% {
              transform: rotate(0deg);
          }
      }

      @keyframes fa-spin {
          0% {
              transform: rotate(0deg);
          }

          100% {
              transform: rotate(360deg);
          }
      }

      .fa-rotate-90 {
          transform: rotate(90deg);
      }

      .fa-rotate-180 {
          transform: rotate(180deg);
      }

      .fa-rotate-270 {
          transform: rotate(270deg);
      }

      .fa-flip-horizontal {
          transform: scale(-1, 1);
      }

      .fa-flip-vertical {
          transform: scale(1, -1);
      }

      .fa-flip-both,
      .fa-flip-horizontal.fa-flip-vertical {
          transform: scale(-1, -1);
      }

      .fa-rotate-by {
          transform: rotate(var(--fa-rotate-angle, 0));
      }

      .fa-stack {
          display: inline-block;
          vertical-align: middle;
          height: 2em;
          position: relative;
          width: 2.5em;
      }

      .fa-stack-1x,
      .fa-stack-2x {
          bottom: 0;
          left: 0;
          margin: auto;
          position: absolute;
          right: 0;
          top: 0;
          z-index: var(--fa-stack-z-index, auto);
      }

      .svg-inline--fa.fa-stack-1x {
          height: 1em;
          width: 1.25em;
      }

      .svg-inline--fa.fa-stack-2x {
          height: 2em;
          width: 2.5em;
      }

      .fa-inverse {
          color: var(--fa-inverse, #fff);
      }

      .sr-only,
      .fa-sr-only {
          position: absolute;
          width: 1px;
          height: 1px;
          padding: 0;
          margin: -1px;
          overflow: hidden;
          clip: rect(0, 0, 0, 0);
          white-space: nowrap;
          border-width: 0;
      }

      .sr-only-focusable:not(:focus),
      .fa-sr-only-focusable:not(:focus) {
          position: absolute;
          width: 1px;
          height: 1px;
          padding: 0;
          margin: -1px;
          overflow: hidden;
          clip: rect(0, 0, 0, 0);
          white-space: nowrap;
          border-width: 0;
      }

      .svg-inline--fa .fa-primary {
          fill: var(--fa-primary-color, currentColor);
          opacity: var(--fa-primary-opacity, 1);
      }

      .svg-inline--fa .fa-secondary {
          fill: var(--fa-secondary-color, currentColor);
          opacity: var(--fa-secondary-opacity, 0.4);
      }

      .svg-inline--fa.fa-swap-opacity .fa-primary {
          opacity: var(--fa-secondary-opacity, 0.4);
      }

      .svg-inline--fa.fa-swap-opacity .fa-secondary {
          opacity: var(--fa-primary-opacity, 1);
      }

      .svg-inline--fa mask .fa-primary,
      .svg-inline--fa mask .fa-secondary {
          fill: black;
      }

      .fad.fa-inverse,
      .fa-duotone.fa-inverse {
          color: var(--fa-inverse, #fff);
      }
  </style>
  <!-- Bootstrap CSS -->
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
    rel="stylesheet"
  />
  <link rel="shortcut icon" href="https://bizweb.dktcdn.net/100/137/523/themes/737172/assets/logo.png?1731484673668">
    <title>Everon</title>
    <meta name="description" content="Trang thông tin everon">
    <meta name="keywords" content="Trang chủ">
    <meta name="twitter:title" content="Everon Trang chủ">
    <meta name="twitter:description" content="Trang thông tin everon">
    <link media="all" type="text/css" rel="stylesheet" href="https://everon.com/Themes/Ecommerce/css/bootstrap.min.css">
    <link media="all" type="text/css" rel="stylesheet"
        href="https://everon.com/Themes/Ecommerce/css/swiper-bundle.min.css">
    <link media="all" type="text/css" rel="stylesheet"
        href="https://everon.com/Themes/Ecommerce/css/sweetalert2.min.css">
    <link media="all" type="text/css" rel="stylesheet" href="https://everon.com/Themes/Ecommerce/css/fancybox.css">
    <link media="all" type="text/css" rel="stylesheet" href="https://everon.com/Themes/Ecommerce/css/style.css?v=1.3.1">
    <script src="https://unpkg.com/lucide@latest"></script>
    <script src="https://everon.com/Themes/Ecommerce/js/jquery-3.7.1.js"></script>
</head>

<body>
  <!-- Navbar -->
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top py-3"> 
      <div class="container-fluid">
        <img src="/img/logo_2.png" alt="Logo" height="40" class="d-inline-block align-text-top">
        <a class="navbar-brand" href="/">Everone</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navMenu"
          aria-controls="navMenu"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Your cute nav snippet -->
        <div class="collapse navbar-collapse" id="navMenu">
          <ul class="navbar-nav ms-auto align-items-center cute-nav">
            <li class="nav-item"><a class="nav-link" href="/">Trang chủ</a></li>
            <li class="nav-item"><a class="nav-link" href="/product">Sản phẩm</a></li>
            <li class="nav-item">
              <a id = "info" class="nav-link active" href="/info"><i class="bi bi-cart-fill me-1"></i>My Info</a>
            </li>
            <li class="nav-item"><button id="yt" class="btn cute-btn danger me-2">▶ YouTube</button></li>
            <% if (session && session.user) { %>
              <li class="nav-item user-welcome">
                <span>Hi, <%= session.user.name %>! 😊</span>
                <button onclick="location.href='/api/logout'" class="btn cute-btn logout ms-2">🚪 Logout</button>
              </li>
            <% } else { %>
              <li class="nav-item">
                <button id="openAuth" class="btn cute-btn ms-2">🔒 Đăng Nhập</button>
              </li>
            <% } %>
          </ul>
        </div>
      </div>
    </nav>
  </header>
    <!-- Main Content -->
  <main class="container py-5 flex-grow-1">
      <section class="text-center mb-5">
          <h1 class="section-title">👤 My Account</h1>
          <p class="lead">Here you can review your past orders.</p>
      </section>

      <section class="row justify-content-center mb-4">
          <div class="col-md-6 col-lg-4">
              <div class="row g-3">
                  <div class="col-6"> 
                      <div class="form-floating">
                          <input
                              id="start-date"
                              type="date"
                              class="form-control"
                              placeholder="Start Date"
                          >
                          <label for="start-date">From Date</label>
                      </div>
                  </div>
                  <div class="col-6">
                      <div class="form-floating">
                          <input
                              id="start-time"
                              type="time"
                              class="form-control"
                              placeholder="Start Time"
                              value="00:00" {# Default to start of day #}
                          >
                          <label for="start-time">From Time</label>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-lg-4">
              <div class="row g-3"> 
                  <div class="col-6">
                      <div class="form-floating">
                          <input
                              id="end-date"
                              type="date"
                              class="form-control"
                              placeholder="End Date"
                          >
                          <label for="end-date">To Date</label>
                      </div>
                  </div>
                  <div class="col-6"> 
                      <div class="form-floating">
                          <input
                              id="end-time"
                              type="time"
                              class="form-control"
                              placeholder="End Time"
                              value="23:59" {# Default to end of day #}
                          >
                          <label for="end-time">To Time</label>
                      </div>
                  </div>
              </div>
          </div>
      </section>

      <section class="row">
          <div class="col-12">
              <div class="bg-white rounded shadow-sm p-4">
                  <h2 class="section-title mb-3">🛒 My Orders</h2>
                  <div id="order-list" class="table-responsive">
                      <table class="table table-striped">
                          <thead>
                              <tr>
                                  <th>Date</th>
                                  <th>Order #</th>
                                  <th>Status</th>
                                  <th>Total</th>
                                  <th>Actions</th>
                              </tr>
                          </thead>
                          <tbody>
                          </tbody>
                      </table>
                  </div>
                  <div id="no-orders" class="text-center text-muted mt-3" style="display: none;">
                      No orders found for the selected date range.
                  </div>
              </div>
          </div>
      </section>
  </main>
  <!-- Bootstrap -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script type="module" src="/script/info-utils.js"></script>
  <script>
    let button = document.getElementById('yt');
    button.addEventListener('click', () => {
    window.open('https://www.youtube.com/watch?v=62JBXOmxW3I', '_blank'); 
    });
  </script>
  <!-- Footer -->
  <footer class="bg-dark text-white text-center py-3">
    &copy; 2025 Everone. All rights reserved.
  </footer>

</body>
</html>
